.navbar{
    
    color: white;
    width: 98%;
    border-bottom: 2px solid gray;
    margin: 0;
    display: flex;
    align-items: center;
   justify-content: space-between;
    cursor: pointer;
    

}
.logo{
    display: flex;
    align-items: center;
    
}
.navbar img{
    width: 60px;
    padding: 0.5rem;
    height:60px;
    border: 2px solid white;
    border-radius: 50%;
}
.navbar span{
    color: rgb(138, 42, 5);
    font-size: 2rem;
    
}

.layout{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    background: steelblue;
    
    
}
.sidebar{
    border-right: 3px solid rgb(123, 161, 179);
    background-color: rgb(85, 140, 185);
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    height: 100vh;
    margin-top: 0rem;
    text-align: center;
    transition: all 0.5s ease;
   
}
.sidebar-none{
    display: none;
    transition: all 0.5s ease;
   
}
.sidebar a{
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    transition: all 0.5s ease;
}
.sidebar a:hover{
    color: burlywood;
}
.body{
    width: 80%;
    transition: all 0.5s ease;
}

.nameandemail{
    position: absolute;
    right: 10px;
    top: 10%;
    text-align: end;
    color: white;
    font-size: 0.8rem;
}
.profile-none{
    display: none;
}
.logout-profile{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.logout-profile a{
    color: gold;
    text-decoration: none;
}
.logout-profile a:hover{
    color: violet;
}
.logout-profile p{
    cursor: pointer;
    color: rgb(101, 10, 185);
    
}
.logout-profile p:hover{
    color: brown;
    
}
.nameandemail p:last-child{
    cursor: pointer;
}
